@import '../../../styles/main.scss';

.create-bill-form-container {
    form {
        @include hard-shadow;
        border: 1px solid black;
        background-color: #FFF;
        padding: 15px;

        fieldset {
            padding: 15px;
            margin: 20px 0;
            border: 1px solid black;
        }

        label {
            @include h4-font-style;
        }

        input {
            background-color: #FFF;
            border-bottom: 1px dashed black;
            border-top: unset;
            border-right: unset;
            border-left: unset;
            border-radius: unset;
        }
    }
}