@import '../../../styles/main.scss';

.create-bill-form-container {
    form {
        @include hard-shadow;
        border: 1px solid $dark;
        background-color: $white;
        padding: 15px;

        .inputs-wrapper {
            padding: 15px;
        }

        .input-row-title {
            padding: 10px;
            margin: 0;
        }

        .input-row {
            margin: 0;
            border: 1px solid $dark;
        }

        label {
            @include h4-font-style;
        }

        input {
            border: unset;
            border-radius: unset;
            padding: 10px;

            &,
            &:focus {
                background-color: $light;
            }
        }

        /**
         * Bill input customizations.
         */
        .bill-input-section {
            margin-bottom: 20px;
        }

        /**
         * Order input customizations.
         */
        .order-inputs {
            margin-bottom: 20px;
            border: 1px solid $dark;
        }

        .order-input-row-title {
            color: $white;
            background-color: $dark;
        }

        /**
         * Item input customizations.
         */
        .item-container:not(:last-of-type) {
            padding-bottom: 20px;
            border-bottom: 2px dashed $powder;
        }

        .item-input-row {
            margin-top: 0;
        }

        .item-input-row-title {
            color: $black;
            background-color: $blue;
        }

        .btn-add-row-item {
            margin-top: 10px;
        }
    }
}