@import '../../../styles/main.scss';

.create-bill-form-container {
    form {
        @include hard-shadow;
        border: 1px solid $dark;
        background-color: $white;

        .inputs-wrapper {
            padding: 15px 0;
        }

      .bill-section-wrapper {
        border: 1px solid $dark;
        margin: 15px;
      }

        label {
            @include h4-font-style;
        }

        input {
            border: unset;
            border-radius: unset;
            padding: 10px;

            &,
            &:focus {
                background-color: $light;
            }
        }

        /**
         * Bill input customizations.
         */
        .bill-input-section {
            margin-bottom: 20px;
        }

        /**
         * Item input customizations.
         */

      .item-row {
        padding: 15px 0;

        &:not(:last-of-type) {
          border-top: 2px dashed $powder;
        }
      }
    }
}